extends layout

block content
  h1= title

  ul
    each product in product_list
      li
        a(href=product.url) #{product.name} 
        each value in product.category
          span.badge.badge-primary #{value.name}

    else
      li There are no products.
